html {
  margin:0px;
  padding:0px;
}

.container {
  width: 950px;
  margin:0px auto;
  padding:0px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;;
  font-size: normal;
}

body {
  background:#576157;
  margin:0px;
  padding:0px;
}

h1 {
  line-height:1;
  font-weight:bold;
  color:#111;
}

header {
  padding-top: 0px;
  background-color: #302F30/*#565656*/;
}

header img {
  padding: 1em;
}

section {
  margin-top: 0.5em;
  font-size: 100%;
  padding: 20px;
  background: #C2B93E;
  clear:right;
  min-height:350px;
}

section h1 {
  font-size: 170%;
  line-height: 80%;
}

/*Category selector for home page*/

.float-right{
  float:right;
  padding-left:1em;
}

.float-left{
  float:left;
  padding-right:1em;
}

.float-left img, .float-right img{
  margin-bottom:10px;
}
/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
  font-size: 90%;
  background-color: #808F5D;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #ADAD84;
}

nav ul li a:visited {
  color: #68684F;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

/*a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}*/

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  clear:both;
}

table {
margin-left: auto;
margin-right: auto;
border: thin solid black;
caption-side: bottom;
border-collapse: collapse;
}

td, th {
border: thin dotted gray;
padding: 5px;
}

caption {
font-style: italic;
padding-top: 8px;
}

/*estilos para el listado bonito de los sitios*/

.listadobonito{
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.indplacesdescr{
  font-size:90%;
  margin-right:15em;

}

.indplacesmoney, .indplacesopen{
  float: right;
  padding:0px;
  font-size:140%;
  color:gray;
  margin:0px;
  text-align:right;
  
}

.listadobonito h3{
  margin:0px;
  padding:0px;
}
/*de aca hacia abajo hay que revisar la funcionalidad*/

footer nav {
  float: none;
}

h1.comment {
  margin-bottom: 0.3em;
}

table.comments {
  margin-top: 1em;
}

table.comments tr {
  height: 70px;
}

table.comments tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.comments tr td.comment {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.comments tr td.comment span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.comments {
  font-size: 80%;
}

form.new_comment {
  margin-bottom: 2em;
}

form.new_comment textarea {
  height: 4em;
  margin-bottom: 0;
}
