html{min-width:1000px;max-width:1100px;background:#ccc;margin:0px auto;padding:0px;font-family:sans-serif;font-size:normal;}
body{padding:0px 20px 0px 20px;margin:0px;}

.container-header{
  height:60px;
  width:850px;
  position:relative;top:0px;left:100px;
  margin:0;padding:0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.shadowy {
  -webkit-box-shadow: 10px 10px 5px #888888; /* Safari */
  box-shadow:0px 0px 10px 3px #666;
}

section {
  padding: 20px;
  padding-top:70px;
  background: #e6e6e6;
  clear:right;
  min-height:350px;
}

h1{
  font-size: 170%;
  line-height: 80%;
}

/*Category selector for home page*/

.mainselector, .mainselector td{margin:0 auto;padding:0;}
.mainselector td{width:400px;height:175px;}
.littlesection{width:310px;height:235px;padding:120px 30px 0px 60px;margin:0;}

.upleft{background: url(../images/gastro.png) left top no-repeat;}
.upright{background: url(../images/rumb.png) left top no-repeat;}
.downleft{background: url(../images/cult.png) left top no-repeat;}
.downright{background: url(../images/tur.png) left top no-repeat;}

.innertext{width:310px;height:200px;padding:0;margin:0;overflow:hidden;text-overflow:ellipsis;}

/*flash notice styles*/
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}


/* Links */

a {color:#09c;text-decoration:none;}

a:hover{color: #069;text-decoration: underline;}

a:visited{color: #069;}

/* Navigation */

nav {
  float: right;
  font-size: 90%;
  background-color: #808F5D;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #000;
}

nav ul li a:visited {
  color: #68684F;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

/*a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}*/



footer {
  text-align: center;
  margin:0 auto;
  margin-top: 10px;
  font-size: 80%;
  clear:both;
}

table, table td, table th {
padding:0;margin:0;
border-collapse:collapse;
}

caption {
font-style: italic;
padding-top: 8px;
}

/*estilos para el listado bonito de los sitios*/

.listadobonito{
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.indplacesdescr{
  font-size:90%;
  margin-right:15em;

}

.indplacesmoney, .indplacesopen{
  float: right;
  padding:0px;
  font-size:140%;
  color:gray;
  margin:0px;
  text-align:right;

}

.listadobonito h3{
  margin:0px;
  padding:0px;
}
/*de aca hacia abajo hay que revisar la funcionalidad*/

footer nav {
  float: none;
}

h1.comment {
  margin-bottom: 0.3em;
}

table.comments {
  margin-top: 1em;
}

table.comments tr {
  height: 70px;
}

table.comments tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.comments tr td.comment {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.comments tr td.comment span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.comments {
  font-size: 80%;
}

form.new_comment {
  margin-bottom: 2em;
}

form.new_comment textarea {
  height: 4em;
  margin-bottom: 0;
}

