<table class="mainselector">
  <tr>
    <!-- selector para gastronomia -->
    <td class='upleft'>
      <div class="sel_container">
        <a href="/places?category=3"><div class="gastro"></div></a>
        
        <div class="sel_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
          <p>consectetur adipiscing elit. Vivamus nec ipsum id justo blandit adipiscing in eget turpisdiollicitudin</p>
        </div>
      </div>
    </td>

    <!-- selector para rumba -->
    <td class='upright'>
      <div class="sel_container">
        <a href="/places?category=4"><div class="rumb"></div></a>
        
        <div class="sel_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
          <p>consectetur adipiscing elit. Vivamus nec ipsum id justo blandit adipiscing in eget turpisdiollicitudin</p>
        </div>
      </div>
    </td>
  </tr>

  <td class='downleft'>
      <div class="sel_container">
        <a href="/places?category=2"><div class="cult"></div></a>
        
        <div class="sel_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
          <p>consectetur adipiscing elit. Vivamus nec ipsum id justo blandit adipiscing in eget turpisdiollicitudin</p>
        </div>
      </div>
    </td>

    <!-- selector para turismo -->
    <td class='downright'>
      <div class="sel_container">
        <a href="/places?category=1"><div class="tur"></div></a>
        
        <div class="sel_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
          <p>consectetur adipiscing elit. Vivamus nec ipsum id justo blandit adipiscing in eget turpisdiollicitudin</p>
        </div>
      </div>
    </td>

  </tr>
</table>

