<div class="float-right">
  <% logo = image_tag("rect2995.png", :alt => "Rumba", :class => "round") %>
  <%= link_to logo, {:controller => 'places', :action => 'index', :category => 1} %>
  <br />
  <br />
  <% logo = image_tag("turismo_grande.png", :alt => "Turístico", :class => "round") %>
  <%= link_to logo, {:controller => 'places', :action => 'index', :category => 4} %>
    
</div>

<div class="float-left">
  <% logo = image_tag("gastronomia_grande.png", :alt => "Gastronomía", :class => "round") %>
  <%= link_to logo, {:controller => 'places', :action => 'index', :category => 3} %>
  <br />
  <br />
  <% logo = image_tag("cultura_grande.png", :alt => "Cultural", :class => "round") %>
  <%= link_to logo, {:controller => 'places', :action => 'index', :category => 2} %>
</div>
