<table class="mainselector">
  <tr>
    <!-- selector para gastronomia -->
    <td class='upleft'><a href="/places?category=3">AAAAA</a><div class="selector-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
      <p>consectetur adipiscing elit. Vivamus nec ipsum id justo blandit adipiscing in eget turpisdiollicitudin</p></div></td>

    <!-- selector para rumba -->
    <td class="upright"><a href="/places?category=1">AAAAA</a><div class="selector-text"><p>Lorem ipsum dolor sit amet, consecteivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
    <p>Lorem ipsum dolor sit amet, consectet. Vivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
      </div></td>
  </tr>

  <tr>
    <!-- selector para cultura -->
    <td class="downleft"><a href="/places?category=2">AAAAA</a><div class="selector-text"><p>Lorem ipsum dolor sit amet, consecteivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
    <p>Lorem ipsum dolor sit amet, consectet. Vivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p></div></td>

    <!-- selector para turismo -->
    <td class="downright"><a href="/places?category=4">AAAAA</a><div class="selector-text"><p>Lorem ipsum dolor sit amet, consecteivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p>
    <p>Lorem ipsum dolor sit amet, consectet. Vivamus nec ipsum id justo blandit urpis. Aliquam bibendum odio quidolor sit amet</p></div></td>

  </tr>
</table>

