<h1>Nosotros</h1>
<p>queHago.co nace de la necesidad de tener acceso a información valiosa sobre los diferentes sitios que puede haber en una ciudad, sin necesidad de ir y experimentar el sitio de primera mano, corriendo el riesgo de tener una mala experiencia, o quedar empeñados a la hora de pagar.</p>

<p>La idea original se genera en Manizales, cuidad del eje cafetero de Colombia, y busca generar una base de datos de los sitios de interés en cada ciudad a la que llegamos para promover un consumo más informado.</p>

<p>Cabe anotar que la información provista en queHago.co se entrega al usuario como está, sin ninguna garantia de veracidad, ya que son los locales y sitios los que estan a cargo de la mayoria de la misma, salvo algunas excepciones donde el equipo de queHago.co decide tomar cartas en el asunto para prevenir corrupciones en la base de datos.</p>
