<h1>queHago.co</h1>

<p> Primera pagina de prueba para el home de quehago.co </p>

<p>Ahora usando Layouts para eliminar la redundancia de las paginas!</p>
</br>
</br>
<%= link_to "Registrate ahora!", new_user_registration_path, :class => "signup_button round" %>
