<%= render 'categoryselector'%>

<h1>Hola y bienvenido a queHago.co</h1>

<p> Acá podrás encontrar información de los sitios que no deben faltar por visitar en Manizales (Inicialmente)</p>


<p>Nos dedicamos a organizar la información de los sitios de tu ciudad para que puedas decir que hacer mas fácilmente, nuestras clasificaciones incluyen:</p>

