<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Un usuario envio un comentario</h1>
    <h3 id="campos">Nombre</h3>
    <p><%= @contact.name%></p>
    <h3 id="campos">email</h3>
    <p><%= @contact.email%></p>
    <h3 id="campos">Asunto</h3>
    <p><%= @contact.subject%></p>
    <h3 id="campos">Mensaje</h3>
    <p><%= @contact.content%></p>
    
  </body>
</html>
